<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <style>
        #button1{
         width: 150px;
         color:#64ffff;  
         background-color: #05221e;       
         padding: 5px;
         border-color: #05221e;
         border-width: 10px;
         text-align: center;
         margin-left: 40px;
         margin-top: 10px;
         margin-bottom: 10px;
         font-weight: bold;
         display: inline-block;
         font-size: 25px;
         cursor: pointer;
        }
        #button2{
         width: 150px;
         color:#64ffff;  
         background-color: #05221e;       
         padding: 5px;
         border-color: #05221e;
         border-width: 10px;
         text-align: center;
         margin-left:40px;
         margin-top:10px;
         margin-bottom: 10px;
         font-weight: bold;
         display: inline-block;
         font-size: 25px;
         cursor: pointer;
        }
        #button5{
         width: 150px;
         color:#64ffff;  
         background-color: #05221e;       
         padding: 5px;
         border-color: #05221e;
         border-width: 10px;
         text-align: center;
         margin-left: 40px;
         margin-top:10px;
         margin-bottom: 10px;
         font-weight: bold;
         display: inline-block;
         font-size: 25px;
         cursor: pointer;
        }
        #button6{
         width: 150px;
         color:#64ffff;  
         background-color: #05221e;       
         padding: 5px;
         border-color: #05221e;
         border-width: 10px;
         text-align: center;
         margin-left: 40px;
         margin-top:10px;
         margin-bottom: 10px;
         font-weight: bold;
         display: inline-block;
         font-size: 25px;
         cursor: pointer;
        }
        div{
          padding: 10px;
          margin: 5px;
          margin-left: 650px;
          margin-right: 650px;
          border:solid;
          border-color: #0e5249;
          border-width: 15px;
          background-color: #14a0a0;
        }
    </style>

</head>

<body style="background-color: #64ffff;
            background-size: 100px 10px;">  
    <h1 style="text-align: center;
              font-size: 100px;
              font-weight: bold;
              color: #05221e;
              padding: 0px;
              margin: 10px;">
        Menu
    </h1>    

 <div id="div">
    <a href="/rozvrh"><button id="button1">- Read -</button></a>
    <a href="/new"><button id="button2">- Create -</button></a>
    <a href="/delete"><button id="button5">- Delete -</button></a>
    <a href="/update"><button id="button6">- Update -</button></a>
    
 </div>

</body>

</html>